:root {
  --primary-strong-cyan: hsl(172, 67%, 45%);

  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-darker-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-ligher-grayish-cyan: hsl(189, 41%, 97%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: var(--neutral-light-grayish-cyan);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

input {
  background-color: var(--neutral-ligher-grayish-cyan);
  border: none;
  padding: 0.3rem 1rem;
  color: var(--neutral-very-dark-cyan);
  width: 90%;
  font-weight: bolder;
  text-align: right;
  font-size: 24px;
}

.logo {
  padding: 2rem;
}

/* Main section styles */

.main-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 1rem;
  width: 100%;
  height: 90vh;
}

/* Left side styles */

.section-title {
  color: var(--neutral-darker-grayish-cyan);
  font-size: 1rem;
  margin-bottom: 0;
  padding-top: 1rem;
}

/* Bill Section Styles */
.bill-section {
  position: relative;
}

.bill-sign {
  position: absolute;
  left: 1rem;
  top: 3.5rem;
}

/* Tip section Styles */

.tip-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-right: 1rem;
}

.tip-title {
  grid-column: 1 / -1;
}

.tip-btn,
.custom-section-btn {
  background-color: var(--neutral-very-dark-cyan);
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.custom-section-btn {
  margin-left: 22%;
  margin-top: 10px;
}

.custom-section-btn:disabled {
  background-color: gray;
}

.custom-btn {
  background-color: var(--neutral-ligher-grayish-cyan);
  color: var(--neutral-darker-grayish-cyan);
}

.custom-tip-section {
  position: absolute;
  z-index: 1000;
  top: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
}

.highlight-btn {
  background-color: var(--primary-strong-cyan);
  color: white;
}
/* People Section */

.people-section {
  position: relative;
  padding-bottom: 2rem;
}

.people-sign {
  position: absolute;
  left: 1rem;
  top: 3.5rem;
}

/* Right side styles */

.right-side {
  background-color: var(--neutral-very-dark-cyan);

  border-radius: 15px;
  color: white;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.per-person {
  color: var(--neutral-darker-grayish-cyan);
  font-size: 0.8rem;
  margin-top: -1rem;
}

.amount-num {
  color: var(--primary-strong-cyan);
  font-weight: bold;
  font-size: 2rem;
}

.right-text {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 0.5em;
}

/* Tip amount styles */

.tip-amount,
.total-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
}

.tip-amount {
  padding-top: 2rem;
}

.tip-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Reset Button */
.reset {
  width: 90%;
  background-color: var(--primary-strong-cyan);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--neutral-very-dark-cyan);
  font-size: 1.5rem;
}

.reset:hover {
  border: 1px solid white;
}

/* Media Queries */

@media screen and (max-height: 999px) {
  .logo {
    padding: 0.5em;
  }
  .main-section {
    height: fit-content;
  }
  .right-text {
    font-size: 18px;
  }
  .amount-num {
    font-size: 18px;
  }

  .main-section {
    padding: 0;
    height: fit-content;
    display: flex;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .bill-section,
  .tip-section,
  .people-section {
    padding: 0em 0.5em;
  }
  .tip-btn {
    padding: 0.1em;
  }
  .tip-amount {
    padding-top: 0;
    align-items: center;
  }
  .right-side {
    margin: 0.5em;
  }
}
@media screen and (max-height: 700px) {
  .logo {
    display: none;
  }

  .main-section {
    height: 100vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .right-side {
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .tip-btn {
    padding: 0em;
  }
  .reset {
    padding: 0.3em;
  }
  .people-section {
    padding-bottom: 0.5rem;
  }
}

@media screen and (min-width: 475px) and (max-width: 999px) {
  .main-section {
    width: 90%;
    height: fit-content;
    padding: 2em;
    margin: 2em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

@media (min-width: 1000px) {
  .logo {
    margin-top: 5rem;
  }

  .main-section {
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 0 2rem;
    margin-top: 5rem;
  }

  .tip-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .right-side {
    width: 50%;
    height: 100%;
    padding-bottom: 4rem;
  }

  .reset {
    padding: 0.5rem 1rem;
    margin: 0;
  }
}
